<% @title = "Change your password" %>
<% @user.password = @user.password_confirmation = nil %>

<% form_for :user, :url => change_password_url do |f| -%>
	<%= error_messages_for :user, :class => "error"  %>

	<p><%= label_tag 'curr_password', 'Current Password' %><br/>
	<%= password_field_tag :curr_password, nil %></p>

	<p><%= label_tag 'password', 'New Password' %><br/>
	<%= f.password_field :password %></p>

	<p><%= label_tag 'password_confirmation', 'Confirm New Password' %><br/>
	<%= f.password_field :password_confirmation %></p>

	<p><%= submit_tag 'Change password' %></p>

<% end -%>

